main{
    margin-top: 152px;
}
#elojob{
    text-align: center;
}
#elojob h1{
    margin: 0;
    font-size: 45px;
    font-family: poppins;
    color: white;
    font-weight: 600;
}
#elojob h4{
    color: white;
    font-family: poppins;
    margin: 0;
    font-weight: 500;
}
#align-paragrafo1{
    display: flex;
    justify-content: center;
    margin:0 32px;
}
#align-paragrafo1 p{
    width: 700px;
    margin-top: 43px;
    font-size: 17px;
}
#align-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 34px;
}

#card1 h4{
    color: white;
    font-family: poppins;
    font-weight: 600;
    text-align: center;
    font-size: 22px;
    margin-bottom: 18px;
}
#content-card1{
    border: 3px solid white;
    border-radius: 19px;
    width: 270px;
    height: 347px;
    text-align: center;
    background-color: #1D1C29;
}
#content-card1 img{
    width: 250px;
    margin-top: 46px;
}
#content-card1 p:first-of-type{
    margin-top: 26px;
}
#content-card1 select{
    width: 217px;
    height: 35px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Poppins';
    padding-left: 8px;
    font-weight: 500;
    font-size: 15px;
}

#card2 h4{
    color: white;
    font-family: poppins;
    font-weight: 600;
    text-align: center;
    font-size: 22px;
    margin-bottom: 18px;
}
#content-card2{
    border: 3px solid white;
    border-radius: 19px;
    width: 270px;
    height: 347px;
    text-align: center;
    background-color: #1D1C29;
}


#content-card2 select{
    width: 217px;
    height: 35px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Poppins';
    padding-left: 8px;
    font-weight: 500;
    font-size: 15px;
}
#content-card2 p:nth-of-type(2){
    margin-bottom: 6px;
}
#numero-part{
    width: 123px;
    height: 123px;
    border: 1px solid black;
    background-color: black;
    border-radius: 64px;
    margin-top: 59px;
    margin-left: 73px;
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
}
#numero-part p{ 
    width: 121px;
    font-size: 35px;
}

#content-card2 p:nth-of-type(3){
margin-top: 51px;
}


#quantidade-part{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#circulo-menos {
    font-size: 31px;
    width: 27px;
    border-radius: 60px;
    border: 1px solid black;
    height: 27px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none; 
    outline: none; 
}

#menos {
    margin: 0;
    height: auto; 
    padding: 0; 
    padding-left: 2px;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.quadrado{
    width: 28px;
    height: 19px;
}
#quadrado1{
    background-color: black;
}
#quadrado2{
    background-color: white;
}
#quadrado3{
    background-color: white;
}
#quadrado4{
    background-color: white;
}
#quadrado5{
    background-color: white;
}

#circulo-mais{
    font-size: 25px;
    width: 27px;
    border-radius: 60px;
    border: 1px solid black;
    height: 27px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    user-select: none; 
    outline: none; 

}
#mais{
    margin: 0;
    height: 44px;
    padding-top: 6px;
    padding-left: 2px;
}




#pedido h4{
    color: white;
    font-family: poppins;
    font-weight: 600;
    text-align: center;
    font-size: 22px;
    margin-bottom: 18px;
}
#content-card3{
    border: 3px solid white;
    border-radius: 19px;
    width: 270px;
    height: 347px;
    text-align: center;
    background-color: #1D1C29;
}
#container-preco{
    display: block;
}

#align-elo{
    margin-bottom: 20px;
}
#align-elo p{
    margin-bottom: 0;
}
#align-elo img{
    width: 78px;
    height: 43px;
}

#precos{
    margin-top: 29px;
}

#precos p:first-of-type{
    opacity: 50%;
    text-decoration: line-through;
    margin: 0;
    font-size: 20px;
}
#precos p:nth-last-of-type(2){
    margin-top: 9px;
    font-size: 25px;
    margin-bottom: 0;
}
#precos p:nth-of-type(3){
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 6px;
}
#planos{
    width: 180px;
    height: 33px;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 8px;
    font-weight: 500;
    font-family: 'Poppins';
    font-size: 15px;
}
#align-buttonPedido{
    display: flex;
    justify-content: center;
}
#pedido button{
    cursor: pointer;
    width: 180px;
    height: 43px;
    font-family: poppins;
    margin-top: 10px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 13px;
    font-size: 17px;
    display: flex;
    align-items: center;
}
#pedido button img{
    width: 27px;
    padding-right: 5px;
    padding-left: 20px;
}
#card-alternativo{
    margin-top: 135px;
    display: none;
}
#align-planos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}
.align-imgplano{
    display: flex;
    justify-content: center;
}
#plano-gladiador{
width: 398px;
margin-top: 7px;

}
#plano-gladiador h2{
    color: white;
    font-weight: 500;
    font-family: 'Poppins';
    text-align: center;
}
#plano-cronos h2{
    color: white;
    font-weight: 500;
    font-family: 'Poppins';
    text-align: center;
}

#plano-cronos{
    width: 398px;

}

#infos-estat{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 66px;
}
#especificacoes{
    margin:59px 84px ;
}
#especificacoes h2{
    color: white;
    font-weight: 500;
    font-family: 'Poppins';
}