/* Politicas de Privacidade */

main{
    margin-top: 164px;
    margin-bottom: 85px;
    display: flex;
    justify-content: center;
}
#container-politica{
    color: white;
    width: 717px;
    font-family: poppins;
}
h1{
    color: darkorange;
}
h4{
    font-size: 23px;
    margin: 61px 0;

}