body {
  background-color: black;
  margin: 0;
}

p,
a {
  color: white;
  text-decoration: none;
  font-family: poppins;
  font-weight: 400;
}
.logo {
  width: 115px;
  height: 87px;
  margin-top: 14px;
  margin-bottom: 10px;
}
header ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  height: 33px;
  margin: 0;
}
header li {
  margin: 0 20px;
}
header {
  display: flex;
  justify-content: space-evenly;
  position: fixed; /* Fixa o header no topo */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: border 0.3s ease;
  border-bottom: 2px solid transparent;
}

#IconMenu {
  display: none;
}
nav {
  padding-top: 49px;
}
.login-btn {
  height: 40px;
  width: 151px;
  font-family: "Poppins";
  background-color: #282d30;
  color: white;
  border: 1px solid #282d30;
  border-radius: 13px;
  margin-top: 41px;
  font-size: 13px;
  cursor: pointer;
}
main {
  margin-top: 206px;
}

.hero {
  background-image: url(../images/fundo-img.png);
  height: 469px;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  margin-bottom: 64px;
}

h1 {
  color: white;
  font-family: poppins;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  padding-top: 104px;
}
.hero p {
  width: 661px;
  font-size: 18px;
  margin-top: 56px;
  text-align: center;
}
#align-heroP {
  display: flex;
  justify-content: center;
}
#container-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  width: 278px;
  height: 381px;
  background-color: #1d1c29;
  text-align: center;
  /* margin-left: 141px; */
  border-radius: 19px;
}
.card img {
  width: 111px;
}
.card h2 {
  margin-bottom: 30px;
  margin-top: 0;
  color: white;
  font-family: "Poppins";
  font-weight: 600;
}
.card p {
  font-size: 16px;
  margin-left: 21px;
  text-align: start;
}
#card-elo p {
  margin-bottom: 53px;
}
#card-duo p {
  margin-bottom: 26px;
}
#card-md5 p {
  margin-bottom: 25px;
}
#card-coach p {
  margin-bottom: 25px;
  margin-right: 2px;
}
.card button {
  height: 46px;
  width: 173px;
  font-family: "Poppins";
  font-size: 15px;
  color: white;
  border: 1px solid #000000;
  background-color: #000000;
  border-radius: 13px;
  cursor: pointer;
}
.vantagens {
  margin: 88px;
}
.vantagens div div {
  width: 318px;
  text-align: center;
}
.vantagens h2 {
  font-family: "Poppins";
  color: white;
}
#vantagens1-2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#vantagens3-4 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.linha-container {
  display: flex;
  align-items: center;
}

.linha {
  flex: 1;
  height: 1px;
  background-color: #999;
}

.logo img {
  width: 100px;
  height: auto;
  margin: 0 10px;
}
.avaliacoes h1 {
  padding-top: 0;
}
.estrelas {
  text-align: center;
  margin-top: 24px;
}

#avaliado{
    text-align: center;
    margin-bottom: 73px;
}
.container-feedback{
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 42px;
}
.feedback{
  background-color: #1D1C29;
  width: 600px;
  border-radius: 7px;
}
#align-nomeStars{
    display: flex;
    justify-content: space-between;
}
#align-nome{
  display: flex;
}
#icon-feed{
    width: 52px;
    height: 52px;
    border-radius: 27px;
    background-color: black;
    text-align: center;
    margin-top: 9px;
    margin-left: 7px;
}
#icon-feed p{
    margin: 0;
    padding-top: 11px;
    font-size: 21px;
}
#dois-text p:first-of-type{
  margin-top: 11px;
    font-size: 19px;
    margin-left: 13px;
    margin-bottom: 0;
}
#dois-text p:nth-of-type(2){
  margin: 0;
  margin-left: 13px;
    font-size: 14px;
    opacity: 50%;
}
.estrelas-peq{
  max-height: 34px;
  margin-top: 11px;
  margin-right: 14px;
}
.estrelas-peq img{
  width: 24px;
}
.comentario{
  margin-top: 14px;
  margin-left: 25px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

#container-infos{
  justify-content: space-evenly;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #1D1C29;
    margin-top: 132px;
}
h4{
  color: white;
  text-decoration: none;
  font-family: poppins;
  font-weight: 800;
  font-size: 24px;
  margin: 0;
}
.missoes_boosters{
  padding: 5px 0;
}
.missoes_boosters p{
  margin-top: 2px;
  margin-bottom: 1px;
}
.missoes_boosters img{
width: 61px;
margin-left: 12px;
}
#container-infos button{
  width: 219px;
    height: 53px;
    background-color: black;
    color: white;
    border: 1px solid black;
    font-family: poppins;
    border-radius: 37px;
    font-size: 16px;
    text-transform: uppercase;
}
.accordeon-item{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.accordeon-item button{
  background-color: #1D1C29;
  color: white;
  font-family: 'Poppins';
  width: 452px;
  border: 1px solid #1D1C29;
  border-radius: 7px;
  height: 77px;
  font-size: 17px;
  padding-left: 24px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  cursor: pointer;
}
.resposta-acordeon{
  display: none;
  justify-content: center;
}
.resposta-acordeon p{
  text-align: center;
  width: 448px;
  margin-top: 8px;
}
#converse-conosco{
  text-align: center;
  font-size: 14px;
}









/*---------------Footer---------------------------*/
footer {
  margin-top: 40px;
  padding-top: 31px;
  background-color: #0f1015;
  font-size: 14px;
}
.container-footer {
  display: flex;
  justify-content: space-between;
}
#logo-footer {
  width: 101px;
  height: 78px;
  margin-top: 4px;
  margin-right: 16px;
}
#content-footer1 {
  display: flex;
}
#content-footer1 p {
  width: 287px;
  margin: 0;
  font-size: 11px;
}
#align-icons {
  display: flex;
  width: 107px;
  align-items: center;
}
.whatsapp-icon {
  height: 42px;
}
.instagram-icon {
  height: 63px;
}
footer ul {
  list-style-type: none;
  font-family: poppins;
  color: white;
  width: 227px;
  padding: 0;
  text-align: center;
  margin: 0;
  margin-right: 164px;
}
footer ul li {
  margin-bottom: 3px;
}
#formaspag {
  width: 242px;
  text-align: center;
  margin-right: 10px;
}
#formaspag p {
  margin-top: 0;
}
#icone-forma {
  margin-bottom: 8px;
}
#direitos {
  text-align: center;
  margin-bottom: 0;
}
